<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="contact-us container">
        <div class="contact-us__social">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/sprite.svg#material-symbols--mail"></use>
                </svg>
            </span>

            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/sprite.svg#la--linkedin-in"></use>
                </svg>
            </span>

            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/sprite.svg#ant-design--twitter-outlined(1)"></use>
                </svg>
            </span>
        </div>

        <div class="contact-us__icons">
            <div class="icon-holder">
                <span class="icon-holder__label">info@gmail.com</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/sprite.svg#material-symbols--mail"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">09121234567</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/sprite.svg#Call"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">کردستان- سنندج- خیابان1 روبه روی اداره پست نبش کوچه پست نبش کوه پست نبش
                    کوچچه</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/sprite.svg#carbon--location-filled"></use>
                    </svg>
                </span>
            </div>
        </div>

        <div class="contact-us__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d413997.11865268147!2d51.30039554843579!3d35.840359401477805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dbe5bf5f5e5c5%3A0xa1fe9ee110db9cef!2z2KrZvtiz24w!5e0!3m2!1sfa!2s!4v1712833543813!5m2!1sfa!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-us__form">

            <div class="form-wrapper">
                <h3>نظرات شما</h3>
                <form>
                    <label for="fname"></label>
                    <input type="text" id="fname" placeholder="نام و نام خانوادگی"> <br>
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="ایمیل خود را وارد کنید"> <br>
                    <label for="comment"></label>
                    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn--primary"> ثبت نظرات</button>
                </form>
            </div>

        </div>
    </section>
</body>

</html>