<footer class="main-footer">
    <div class="container footer">
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>

        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ نویسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item enemad">
            <div class="footer__enemad">
                <img src="assets/images/namad1.jpg" alt="">
            </div>
            <div class="footer__enemad">
                <img src="assets/images/namad1.jpg" alt="">
            </div>
            <div class="footer__enemad">
                <img src="assets/images/namad1.jpg" alt="">
            </div>
        </div>
    </div>
</footer>