<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="container block">
        <div class="select-type">

            <div class="select-control">
                <label for="type-A">عمومی</label>
                <input type="radio" name="webinar" id="type-A">
            </div>
            <div class="select-control">
                <label for="type-B">اختصاصی</label>
                <input type="radio" name="webinar" id="type-B">
            </div>
        </div>
    </section>
</body>

</html>